<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj komentarz</title>
<!--    <script type="text/javascript" th:src="@{/scripts.js}" defer></script>-->
</head>
<body>

    <div th:fragment="contactForm" class="card container px-4 my-3 collapse" id="contactForm">
        <form id="addContactForm" data-sb-form-api-token="API_TOKEN" onsubmit="validatorAddContact(event)" novalidate
            hx-post="/contactTable" 
            hx-target="#contactTable" 
            hx-trigger="sendContactForm"
            hx-indicator="#indicator">
            <input id="csrf" type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <br>
            <div class="row">
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="contactName" name="contactName" type="text" placeholder="name" required />
                    <label for="contactName">Imię i Nazwisko / nazwa</label>
                    <div class="invalid-feedback">Imię i Nazwisko / nazwa jest wymagane</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="contactPhone" name="phone" type="tel" placeholder="+48 123 456 789"
                           required pattern="[+][0-9]{2} [0-9]{3} [0-9]{3} [0-9]{3}" maxlength="15"
                           oninput="phoneCorrector(this)" />
                    <label for="contactPhone">+48 123 456 789</label>
                    <div class="invalid-feedback">Numer tel jest konieczny</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="contactEmailAddress" type="email" name="email" placeholder="Email Address" />
                    <label for="contactEmailAddress">Email Address</label>
                    <div class="invalid-feedback">Niepoprawny format maila, spróbuj: ppp@ppp.ppp</div>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="lastContact" name="lastContact" type="date" placeholder="Ostatni kontakt:" required/>
                    <label for="lastContact">Ostatni kontakt:</label>
                    <div class="invalid-feedback">Podaj proszę kiedy kontaktowałeś/aś się z tą osobą? Format daty: dd.mm.rrrr</div>
                </div>

                <div class="card mb-3 col-lg">
                    <label for="attitude" class="form-label">Nastawienie: <span id="attitudeOutput" > nastawienie?</span></label>
                    <input type="range" class="form-range" id="attitude" name="attitude" min="0" max="3" oninput="sliderValue()" required>
                    <div class="invalid-feedback">Oceń proszę nastawienie tej osoby</div>
                </div>
            </div>

            <div class="form-floating mb-3 row">
                <textarea class="form-control" id="comment" name="comment" type="text" placeholder="Komentarz" style="height: 10rem;"></textarea>
                <label for="comment">Komentarz</label>
            </div>

            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" name="button" type="submit">Dodaj wpis</button>
            </div>
            <br>

            <div id="indicator" class="text-center spiner htmx-indicator">
                <strong>zapisuje...</strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>

        </form>
    </div>
</body>
</html>