<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela kontaktów</title>
</head>
<body>
    <div class="row table-responsive" id="contactTable" th:fragment="contactTable">
        <table class = "table table-bordered table-striped">
            <caption>
                Lista kontaktów
            </caption>
            <thead>
                <tr>
                    <th> Imie i Nazwisko 
                        <form id="tableHeaderForm"
                        hx-get="/contactTable"
                        hx-target="#contactTable"
                        hx-swap="outerHTML"
                        hx-params="*"
                        hx-trigger="submit, changed"
                        th:attr='hx-vals=|js:"direction":document.getElementById("filter-input").value, 
                            "sort":"contact_name", 
                            "contactName":document.getElementById("search-input").value, 
                            "patron":choosenPatron("choosePatron", "")|'>
                            <div class="form-outline" data-mdb-input-init>
                                <input id="search-input" type="search" name="searchName" class="form-control" th:value="${searchValue}"/>
                                <input id="filter-input" type="hidden" name="filter" th:value="${direction}"/>
                            </div>
                            <button id="filter-button" type="submit" class="btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                            <button id="order-button" type="button" class="btn btn-secondary" onClick="ascDesc(`filter-input`)">
                                <svg th:if="${direction.equals(T(com.dlarodziny.wolontariusze.model.DIRECTION).ASC)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt direction" viewBox="0 0 16 16">
                                    <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/>
                                </svg> 
                                <svg th:unless="${direction.equals(T(com.dlarodziny.wolontariusze.model.DIRECTION).ASC)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down direction" viewBox="0 0 16 16">
                                    <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                                </svg>
                            </button>
                        </form>
                    </th>
                    <th> Telefon</th>
                    <th> Email</th>
                    <th> Ostatni kontakt</th>
                    <th> Nastawienie</th>
                    <th> Komentarz</th>
                    <th th:if="${adminRole}">Patron
                        <select id="choosePatron" class="form-select">
                            <option value="">WSZYSCY</option>
                            <option th:each="patron : ${patrons}" th:value="${patron.patron}" th:selected="${patron.patron == selectedPatron}">[[${patron.name}]] [[${patron.surname}]]</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.contactName}"></td>
                <td th:text="${contact.phone}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.lastContact}"></td>
                <td th:text="${T(com.dlarodziny.wolontariusze.model.Attitude).values()[contact.attitude].getAttitude()}"></td>
                <td th:text="${contact.comment}"></td>
                <div th:if="${adminRole && contact.getVolunteerDetails(patrons) != null}" th:object="${contact.getVolunteerDetails(patrons)}">
                    <td>[[*{name}]] [[*{surname}]]</td>
                </div>
                <td th:if="${adminRole}" th:unless="${contact.getVolunteerDetails(patrons)}">patron Id: [[${contact.patron}]]</td>
            </tr>
            </tbody>
        </table>
        <th:block th:replace="~{fragments/pagination :: pagination(${contacts})}"></th:block>
    </div>

</body>
</html>

<tr th:fragment="filters">
    
</tr>