<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Loading Fragment</title>
        <script type="text/javascript"></script>
    </head>
    <body>
        <!-- Loader -->
        <th:div id="submitUserLoader" th:fragment="loader" th:class="'mt-3 alert alert-' + ${sev}" role="alert"
            th:attr="hx-get=|/saveSuccess/${username}|"
            hx-target="#addUserDataForm"
            hx-trigger="load"
        >
            <div class="text-center spiner">
                <strong th:text="${msg + ' ' + username}">Loading...</strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
        </th:div>

        <!-- Success -->
        <th:div id="submitUserLoader" th:fragment="saveSuccess" class="mt-3 alert alert-info" role="alert">
            <div class="text-end">
                <button id="loaderModalCloseBtn" type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center spiner">
                <strong th:text="${userSaved}">Dupa zbita... </strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
        </th:div>

        <!-- User Exists -->
        <th:block th:fragment="nickExists">
            <span id="nickExist" th:unless="${nickExists}" class="text-success">Nick jest wolny</span>
            <span id="nickExist" th:if="${nickExists}" class="text-danger">Nick już istnieje!</span>
            <script type="text/javascript" th:inline="javascript">
                $(`#submitButtonVolunteerDetails`).prop('disabled', /*[[${nickExists}]]*/);
            </script>
        </th:block>
    </body>
</html>
