<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Wolontariusze</title>
</head>
<body>
    <table th:fragment="volunteers" class="table table-hover">
        <caption>Wolontariusze</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>patron</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Rozpoczęcie</th>
            <th>Zakończenie</th>
            <th>Ostatnio zalogowany</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Adres</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="volunteer : ${volunteers}" 
                th:attr="hx-get=|/volunteerDataForm/${volunteer.id}|" 
                hx-target="#modals-volunteer"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#modals-volunteer">
                <td th:text="${volunteer.id}"></td>
                <td th:text="${volunteer.username}"></td>
                <td th:text="${volunteer.readRole()}"></td>
                <th:block th:if="${volunteer.getVolunteerDetails(volunteersDetails)}" 
                    th:object="${volunteer.getVolunteerDetails(volunteersDetails)}">
                    <td th:text="*{patron}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{surname}"></td>
                    <td th:text="*{dob}"></td>
                    <td th:text="*{started}"></td>
                    <td th:text="*{ended}"></td>
                    <td th:text="*{lastActivity}"></td>
                    <td th:text="*{phone}"></td>
                    <td th:text="*{email}"></td>
                    <td th:text="*{address}"></td>
                </th:block>
            </tr>
            <tr>
                <td colspan="13">
                    <input class="btn btn-success" value="Dodaj Wolontariusza" 
                        hx-get="/addVolunteer"
                        hx-target="#modals-volunteer"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-volunteer"/>
                </td>
            </tr>
        </tbody>
        <div id="modals-volunteer"
             class="modal modal-blur fade"
             style="display: none"
             aria-hidden="false"
             tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <script th:inline="javascript">
        </script>
    </table>

</body>
</html>