<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moje dane</title>
</head>
<body>
    <div class="card container px-4 my-3" id="userDataForm" th:fragment="userDataForm">
        <br>
        <h1>Cześć 
            <th:block th:if="${nameOfUser}">[[${nameOfUser}]]</th:block>
            <th:block th:if="${editVolunteer != null}">[[${editVolunteer}]]</th:block>
        </h1>
        <!-- USER -->
        <form id="updateUserForm" class="p-1" onsubmit="validatorAddUser(event, this)" novalidate
            hx-patch="/updateUser" 
            hx-trigger="sendForm" 
            hx-indicator="#indicator">
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                    <input type="hidden" th:name="id" th:value="${volunteer?.id}" />
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="username" name="username" type="text" required th:value="${volunteer.username}" th:disabled="${!adminRole}"
                        hx-get="/checkNewUser"
                        hx-target="#nickExist"
                        hx-replace="outerHTML"
                        hx-trigger="input delay:1s"/>
                    <label for="username">twój nik: <span id="nickExist"></span></label>
                    <div class="invalid-feedback" data-sb-feedback="username:required">Twój nick nie może być pusty lub zajęty przez kogoś innego</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="password" name="password" type="password" th:value="${volunteer.password}" required/>
                    <label for="password">hasło</label>
                </div>
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="passwordCheck" name="passwordCheck" type="password" />
                    <label for="passwordCheck">powtórz hasło</label>
                </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButtonVolunteer" name="submit" type="submit">Zaktualizuj</button>
            </div>
        </form>

        <!-- VOLUNTEER DETAILS-->
        <form
            th:attr="hx-patch=|/updateUserDetails?id=${volunteer.id}|" 
            hx-indicator="#indicator"
            class="p-1">
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="name" name="name" type="text" data-sb-validations="required" th:value="${volunteerDetails?.name}"/>
                    <label for="name">Imię</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Podaj proszę swoje imię</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="surname" name="surname" type="text" data-sb-validations="required" th:value="${volunteerDetails?.surname}"/>
                    <label for="surname">Nazwisko</label>
                    <div class="invalid-feedback" data-sb-feedback="surname:required">Podaj proszę swoje Nazwisko</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="+48 123 456 789"
                           required pattern="[+][0-9]{2} [0-9]{3} [0-9]{3} [0-9]{3}" maxlength="15"
                           oninput="phoneCorrector(this)" th:value="${volunteerDetails?.phone}" />
                    <label for="phone">+48 123 456 789</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" data-sb-validations="required,email" 
                        th:value="${volunteerDetails?.email}" />
                    <label for="emailAddress">Email Address</label>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="address" name="address" type="text" data-sb-validations="required" th:value="${volunteerDetails?.address}"/>
                    <label for="address">Address</label>
                    <div class="invalid-feedback" data-sb-feedback="address:required">Podaj proszę adres</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="dob" name="dob" type="date" th:value="${volunteerDetails?.dob}"/>
                    <label for="dob">data urodzenia</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="started" name="started" type="date" th:value="${volunteerDetails?.started}" th:disabled="${!adminRole}" />
                    <label for="started">od kiedy z nami jesteś</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="ended" name="ended" th:type="${adminRole ? 'date' : 'hidden'}" />
                    <label for="ended">data końca współpracy</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="lastActivity" name="lastActivity" type="date" th:value="${volunteerDetails?.lastActivity}" disabled/>
                    <label for="lastActivity">poprzedni dzień aktywności</label>
                </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButtonVolunteerDetails" name="submit" type="submit">Zaktualizuj</button>
            </div>
        </form>
    </div>

    <!-- ADD NEW VOLUNTEER -->
    <div class="card container px-4 my-3" id="addUserDataForm" th:fragment="addUserDataForm">
        <br>
        <h1>Cześć 
            <th:block th:if="${nameOfUser}">[[${nameOfUser}]]</th:block>
            <th:block th:if="${editVolunteer != null}">[[${editVolunteer}]]</th:block>
        </h1>
        <!-- USER -->
        <form id="addUser" class="p-1 needs-validation" onsubmit="validatorAddUser(event, this)" novalidate
            hx-post="/saveUser" 
            hx-indicator="#indicator" 
            hx-trigger="sendForm" 
            hx-target="#addUserDataForm">
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="username" name="username" type="text" data-sb-validations="required" th:value="${volunteer.username}" th:disabled="${!adminRole}" required
                        hx-get="/checkNewUser"
                        hx-target="#nickExist"
                        hx-replace="outerHTML"
                        hx-trigger="input delay:1s"
                    />
                    <label for="username">wybierz nick dla wolontariusza:<span id="nickExist"></span></label>
                    <div class="invalid-feedback" data-sb-feedback="username:required">twój nick nie może być pusty lub zajęty przez kogoś innego</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="password" name="password" type="password" th:value="${volunteer.password}" required/>
                    <label for="password">hasło</label>
                    <div class="invalid-feedback" data-sb-feedback="password:required">Rubryka nie może pozostać pusta</div>
                </div>
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="passwordCheck" name="passwordCheck" type="password" />
                    <label for="passwordCheck">powtórz hasło</label>
                    <div class="invalid-feedback" data-sb-feedback="passwordCheck:required">Musisz podać identyczne hasło jak wyżej</div>
                </div>
                <div class="mb-3">
                    <seclect class="form-select input" id="role" name="role">
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}" th:selected="USER"></option>
                    </seclect>  
                </div>

        <!-- VOLUNTEER DETAILS-->
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="name" name="name" type="text" data-sb-validations="required" th:value="${volunteerDetails?.name}"/>
                    <label for="name">Imię</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Podaj proszę swoje imie</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="surname" name="surname" type="text" data-sb-validations="required" th:value="${volunteerDetails?.surname}"/>
                    <label for="surname">Nazwisko</label>
                    <div class="invalid-feedback" data-sb-feedback="surname:required">Imię wolontariusza</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="+48 123 456 789"
                           pattern="[+][0-9]{2} [0-9]{3} [0-9]{3} [0-9]{3}" maxlength="15"
                           oninput="phoneCorrector(this)" th:value="${volunteerDetails?.phone}" />
                    <label for="phone">+48 123 456 789</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" data-sb-validations="required,email" 
                        th:value="${volunteerDetails?.email}" />
                    <label for="emailAddress">Email</label>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="address" name="address" type="text" data-sb-validations="required" th:value="${volunteerDetails?.address}"/>
                    <label for="address">Adres</label>
                    <div class="invalid-feedback" data-sb-feedback="address:required">Podaj proszę adres</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="dob" name="dob" type="date" th:value="${volunteerDetails?.dob}"/>
                    <label for="dob">data urodzenia</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="started" name="started" type="date" th:value="${volunteerDetails?.started}" th:disabled="${!adminRole}" />
                    <label for="started">od kiedy zobowiązuje umowa</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="ended" name="ended" th:type="${adminRole ? 'date' : 'hidden'}" />
                    <label for="ended">data końca współpracy</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="lastActivity" name="lastActivity" type="date" th:value="${volunteerDetails?.lastActivity}" disabled/>
                    <label for="lastActivity">poprzedni dzień aktywności</label>
                </div>
            <div class="d-grid">
                <!-- <button class="btn btn-primary btn-lg" id="submitButtonVolunteerDetails" name="submit" type="submit" data-toggle="tab" href="#submitUserLoader">Dodaj użytkownika</button> -->
                <button class="btn btn-primary btn-lg" id="submitButtonVolunteerDetails" name="submit" type="submit">Zaktualizuj</button>
            </div>
        </form>
        <script th:inline="javascript">

        </script>
    </div>
</body>
</html>