<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="#" />
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/styles.css}" />
    <!--Bootstrap JS-->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <!--HTMX-->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/scripts.js}" defer></script>
</head>
<body>
<div class = "container">
    <h1>Hello</h1>
    <div th:unless="${volunteer}" class="row" id="greeter">
        <h2>Cześć <span th:text="*{user}" ></h2>
        <p>Proszę uzupełnij swoje detale</p>
    </div>
    <div th:if="${volunteer}" class="row" th:object="${volunteer}">
        <h2>Cześć <span th:text="*{name}" ></h2>
        <!-- <p>Dziekujemy że z nami jesteś już od <span th:text="*{lasting()}"></span></p> -->
    </div>

    <!--Menu-->
    <th:block th:insert="~{fragments/userMenu :: navBar}" />

    <!--Contact form-->
    <div hx-get="/commentForm" hx-trigger="load" hx-swap="outerHTML">
        <div class="text-center spiner">
            <strong>Ładuje formularz do kontaktów...</strong>
            <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
    </div>

    <!--table with contacts-->
    <div id="contactTable" hx-get="/contactTable" hx-trigger="load" hx-swap="outerHTML">
        <div class="text-center spiner">
            <strong>Ładuje tabelę kontaktów...</strong>
            <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">
    const attitudes = /*[[${attitudes}]]*/ [];
</script>
</body>
</html>