<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moje dane</title>
</head>
<body>
    <div th:fragment="userDataForm" class="card container px-4 my-3" id="userDataForm">
        <form data-sb-form-api-token="API_TOKEN" hx-post="/userDataForm" hx-target="#contactTable" hx-indicator="#indicator">
            <input id="csrf" type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <br>
            <div class="row">
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="contactName" name="contactName" type="text" placeholder="name" data-sb-validations="required" />
                    <label for="contactName">Imię i Nazwisko / nazwa</label>
                    <div class="invalid-feedback" data-sb-feedback="contactName:required">Imię i Nazwisko / nazwa jest wymagane</div>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="+48 123 456 789"
                           required pattern="[+][0-9]{2} [0-9]{3} [0-9]{3} [0-9]{3}"
                           oninput="phoneValidator()" />
                    <label for="phone">+48 123 456 789</label>
                </div>

                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" data-sb-validations="required,email" />
                    <label for="emailAddress">Email Address</label>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col-lg">
                    <input class="form-control" id="lastContact" name="lastContact" type="date" placeholder="Ostatni kontakt:" />
                    <label for="lastContact">Ostatni kontakt:</label>
                </div>

                <div class="card mb-3 col-lg">
                    <label for="attitude" class="form-label">Nastawienie: <span id="attitudeOutput" > nastawienie?</span></label>
                    <input type="range" class="form-range" id="attitude" name="attitude" min="0" max="3" oninput="sliderValue()">
                </div>
            </div>

            <div class="form-floating mb-3 row">
                <textarea class="form-control" id="comment" name="comment" type="text" placeholder="Komentarz" style="height: 10rem;"></textarea>
                <label for="comment">Komentarz</label>
            </div>

            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    <p>To activate this form, sign up at</p>
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>

            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" name="submit" type="submit">Submit</button>
            </div>
            <br>

            <div id="indicator" class="text-center spiner htmx-indicator">
                <strong>zapisuje...</strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>

        </form>
    </div>
</body>
</html>