<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="#" />
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <!--Bootstrap JS-->
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <!--HTMX-->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>

</head>
<body>
<div class = "container">
    <h1>Hello</h1>
    <div th:unless="${volunteer}" class="row">
        <h2>Cześć <span th:text="*{user}" /></h2>
        <p>Proszę uzupełnij swoje detale</p>
    </div>
    <div th:if="${volunteer}" class="row" th:object="${volunteer}">
        <h2>Cześć <span th:text="*{name}" /></h2>
        <p>Dziekujemy że z nami jesteś już od <span th:text="*{lasting()}"></span></p>
    </div>
    <th:block th:replace="~{fragments/commentForm :: commentForm}"></th:block>
    <div class = "row">
        <table class = "table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th> Imie i Nazwisko</th>
                <th> Telefon</th>
                <th> Email</th>
                <th> Ostatni kontakt</th>
                <th> Nastawienie</th>
                <th> Komentarz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.contactName}"></td>
                <td th:text="${contact.phone}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.lastContact}"></td>
                <td th:text="${contact.attitude}"></td>
                <td th:text="${contact.comment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>