<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Wolontariusze</title>
</head>
<body>
    <h1>Wolontariusze:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="volunteer : ${volunteers}">
            <td th:text="${volunteer.id}"></td>
            <td th:text="${volunteer.username}"></td>
            <td th:text="${volunteer.role}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>